@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Reset CSS */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS Present */
body {
    font-family: "Inter", sans-serif;
}

img {
    display: block;
}

span {
    color:red;
    background-color: yellowgreen;
}

a {
    display: inline-block;
    width: 200px;
    height: 30px;
    outline:solid red 1px;
    background-color: #fffaaa;
}

#about {
    background-color: greenyellow;
}